{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}

{% block title %}
    Activation Updated
{% endblock %}

{% block header %}
    Activation Updated
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="{% url 'accounts:update_activation' %}">
    {% csrf_token %}
        <div style="display: block; margin: 0 auto; max-width: 500px ">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="form-group">
            <button class="btn btn-primary" style="display: block; margin: 0 auto;" type="submit">Send Activation</button>
        </div>
    </form>
{% endblock %}